<app-sidebar>
  <ng-container class="body">
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Insumos</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/items">Insumos</a>
          </li>
          <li *ngIf="!this.itemId" class="breadcrumb-item active">
            <strong>Agregar</strong>
          </li>
          <li *ngIf="this.itemId" class="breadcrumb-item active">
            <strong>Editar</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox">
        <div class="ibox-content">
          <div *ngIf="isLoading === true" class=" row align-items-center">
            <mat-spinner class="mat-spinner" style="margin: 0 auto"></mat-spinner>
          </div>
          <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label">Código
                    <input type="text"
                           formControlName="code"
                           class="form-control"
                           placeholder="Código"
                           [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
                    <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                      <div *ngIf="f.code.errors.required; else maxLength">El Código es Requerido</div>
                      <ng-template #maxLength>El Código no Debe Exceder a 20 Caracteres</ng-template>
                    </div>
                  </label>
                </div>
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label">Nombre
                    <input type="text"
                           formControlName="name"
                           class="form-control"
                           placeholder="Nombre"
                           [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required; else maxLength">El Nombre es Requerido</div>
                      <ng-template #maxLength>El Nombre no Debe Exceder a 20 Caracteres</ng-template>
                    </div>
                  </label>
                </div>
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label">Descripción
                    <input type="text"
                           formControlName="description"
                           class="form-control"
                           placeholder="Descripción"
                           [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                      <div *ngIf="f.description.errors.required; else maxLength">La Descripción es Requerida</div>
                      <ng-template #maxLength>La Descripción no Debe Exceder a 40 Caracteres</ng-template>
                    </div>
                  </label>
                </div>
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label">Número de Catálogo
                    <input type="text"
                           formControlName="brand_code"
                           class="form-control"
                           placeholder="Número de Catálogo"
                           [ngClass]="{ 'is-invalid': submitted && f.brand_code.errors }">
                    <div *ngIf="submitted && f.brand_code.errors" class="invalid-feedback">
                      <div *ngIf="f.brand_code.errors.required; else maxLength">El Número de Catálogo es Requerido</div>
                      <ng-template #maxLength>El Número de Catálogo no Debe Exceder a 20 Caracteres</ng-template>
                    </div>
                  </label>
                </div>
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label">Categoría
                    <ng-select2 formControlName="category" width="100%"
                                [ngClass]="{'is-invalid': submitted && f.category.errors }"
                                [data]="categories"
                                [options]="categoryOptions"
                                (valueChanged)="categoryChanged($event)">
                    </ng-select2>
                    <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                      <div *ngIf="f.category.errors.required">La Categoría es Requerida</div>
                    </div>
                    <a (click) = "addCategory()"
                      class="btn btn-sm btn-outline-warning">
                      <span class="fa fa-plus"></span>
                    </a>
                  </label>
                </div>
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label">Marca
                    <ng-select2 formControlName="brand" width="100%"
                                [ngClass]="{'is-invalid': submitted && f.brand.errors }"
                                [data]="brands"
                                [options]="brandOptions"
                                (valueChanged)="brandChanged($event)">
                    </ng-select2>
                    <div *ngIf="submitted && f.brand.errors" class="invalid-feedback">
                      <div *ngIf="f.brand.errors.required">La Marca es Requerida</div>
                    </div>
                    <a (click) = "addBrand()"
                       class="btn btn-sm btn-outline-warning">
                      <span class="fa fa-plus"></span>
                    </a>
                  </label>
                </div>
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label">Presentación
                    <ng-select2 formControlName="presentation" width="100%"
                                [ngClass]="{'is-invalid': submitted && f.presentation.errors }"
                                [data]="presentations"
                                [options]="presentationOptions"
                                (valueChanged)="presentationChanged($event)">
                    </ng-select2>
                    <div *ngIf="submitted && f.presentation.errors" class="invalid-feedback">
                      <div *ngIf="f.presentation.errors.required">La Presentación es Requerida</div>
                    </div>
                    <a (click) = "addPresentation()"
                       class="btn btn-sm btn-outline-warning">
                      <span class="fa fa-plus"></span>
                    </a>
                  </label>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group row">
              <div class="col-sm-11"></div>
              <div class="form-group">
                <button class="btn btn-primary btn-sm" [disabled]="buttonDisabled" type="submit">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
</app-sidebar>
