<app-sidebar>
    <ng-container class="body">
      <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
          <h2>Usuarios</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="">Home</a>
            </li>
            <li class="breadcrumb-item active">
              <strong><a href=""> Usuarios </a></strong>
            </li>
          </ol>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox ">
              <div class="ibox-content">
                <div class="row border-bottom">
                  <div class="col-sm-5 m-b-xs">
                    <a routerLink="add" href="" class="btn btn-primary">Agregar</a>
                  </div>
                  <div class="align-items-end col-sm-4">
                    <label class="col-sm-12 col-form-label">
                      <input class="form-control" type ="search" placeholder="Busqueda..." [(ngModel)]="search">
                    </label>
                  </div>
                </div>
                <div *ngIf="isLoading === true" class=" row align-items-center">
                  <mat-spinner class="mat-spinner" style="margin: 0 auto"></mat-spinner>
                </div>
                <p *ngIf="isLoading === false && (users | filterTable:search).length == 0"
                   style="margin-top: 2.5%">No hay datos disponibles.</p>
                <div *ngIf="isLoading === false && (users | filterTable:search).length != 0" class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Nombre de usuario</th>
                      <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of (users | filterTable:search)">
                      <td>{{ user.name + " " + user.last_name }}</td>
                      <td>{{ user.username }}</td>
                      <td>{{ user.email }}</td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="pagination float-right">
                    <mat-paginator hidePageSize="true" showFirstLastButtons="true"></mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </app-sidebar>
  