<body class="pace-done" [ngClass]="{'mini-navbar':miniNavBar}">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse ">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <img alt="image" class="profile-image rounded-circle" src="assets/images/profile.png"/>
            <a data-toggle="dropdown" class="dropdown-toggle" href>
              <span class="block m-t-xs font-normal">{{user.name + ' ' + user.last_name}}</span>
              <span class="text-muted text-xs block">{{ rol.name }} <b class="caret"></b></span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a></li>
            </ul>
          </div>
          <div class="logo-element">
            MERAK
          </div>
        </li>
        <li [ngClass]="{'mm-active border-left-green':ariaExpanded.users}"
            (click)="changeAriaExpanded('users')">
          <a aria-expanded="ariaExpanded.inventory"><i class="fa fa-th-large"></i> <span
            class="nav-label">Inventario</span> <span
            class="fa arrow"></span></a>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/inventory'">Estado del Inventario</a></li>
          </ul>
        </li>
        <li [ngClass]="{'mm-active border-left-green':ariaExpanded.users}"
            (click)="changeAriaExpanded('users')"
            *ngIf="rol.name === roles.superUser">
          <a aria-expanded="ariaExpanded.users"><i class="fa fa-th-large"></i> <span
            class="nav-label">Usuarios</span> <span
            class="fa arrow"></span></a>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/users'">Datos de los Usuarios</a></li>
          </ul>
        </li>
        <li [ngClass]="{'mm-active border-left-green':ariaExpanded.items}"
            (click)="changeAriaExpanded('items')"
            *ngIf="rol.name === roles.admin || rol.name === roles.superUser ">
          <a aria-expanded="ariaExpanded.items"><i class="fa fa-th-large"></i> <span
            class="nav-label">Insumos</span> <span
            class="fa arrow"></span></a>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/items'">Datos de los Insumos</a></li>
          </ul>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/generalItems'">Insumos Generales</a></li>
          </ul>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/categories'">Categorías</a></li>
          </ul>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/brands'">Marcas</a></li>
          </ul>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/presentations'">Presentaciones</a></li>
          </ul>
        </li>
        <li [ngClass]="{'mm-active border-left-green':ariaExpanded.orders}"
            (click)="changeAriaExpanded('orders')"
            *ngIf="rol.name === roles.admin || rol.name === roles.superUser ">
          <a aria-expanded="ariaExpanded.orders"><i class="fa fa-th-large"></i> <span
            class="nav-label">Pedidos</span> <span
            class="fa arrow"></span></a>
          <ul class="nav nav-second-level mm-collapse">
            <li *ngIf="rol.name === roles.admin || rol.name === roles.superUser">
              <a [routerLink]="'/orders'">Lista de Pedidos</a>
            </li>
          </ul>
          <ul class="nav nav-second-level mm-collapse">
            <li *ngIf="rol.name === roles.admin || rol.name === roles.superUser">
              <a [routerLink]="'/orderDepartmentAdmin'">Pedidos de los Departamentos</a>
            </li>
          </ul>
          <ul class="nav nav-second-level mm-collapse">
            <li *ngIf="rol.name === roles.admin || rol.name === roles.superUser">
              <a [routerLink]="'/providers'">Proveedores</a>
            </li>
          </ul>
        </li>
        <li [ngClass]="{'mm-active border-left-green':ariaExpanded.departments}"
            (click)="changeAriaExpanded('departments')"
            *ngIf="rol.name === roles.superUser">
          <a aria-expanded="ariaExpanded.departments"><i class="fa fa-th-large"></i> <span
            class="nav-label">Departamentos</span> <span
            class="fa arrow"></span></a>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/departments'">Datos de los Departamentos</a></li>
          </ul>
        </li>
        <li [ngClass]="{'mm-active border-left-green':ariaExpanded.orderDepartment}"
            (click)="changeAriaExpanded('orderDepartment')"
            *ngIf="rol.name === roles.medico || rol.name === roles.enfermero ">
          <a aria-expanded="ariaExpanded.orderDepartment"><i class="fa fa-th-large"></i> <span
            class="nav-label">Pedidos</span> <span
            class="fa arrow"></span></a>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/orderDepartment'">Pedidos Internos</a></li>
          </ul>
        </li>
        <li [ngClass]="{'mm-active border-left-green':ariaExpanded.devices}"
            (click)="changeAriaExpanded('items')"
            *ngIf="rol.name === roles.admin || rol.name === roles.superUser ">
          <a aria-expanded="ariaExpanded.devices"><i class="fa fa-th-large"></i> <span
            class="nav-label">Equipos Médicos</span> <span
            class="fa arrow"></span></a>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/devices'">Información de los Equipos Médicos</a></li>
          </ul>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/generalDevices'">Equipos Médicos Generales</a></li>
          </ul>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/makers'">Fabricantes</a></li>
          </ul>
          <ul class="nav nav-second-level mm-collapse">
            <li><a [routerLink]="'/maintenances'">Mantenimientos</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:void(0)" (click)="collapseNavBar()"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <span class="m-r-sm text-muted welcome-message">Bienvenido a Merak Inventario.</span>
          </li>
          <li>
            <a (click)="logout()" href="javascript:void(0)">
              <i class="fa fa-sign-out" (click)="logout()"></i> Log out
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <ng-content select=".body"></ng-content>
    <ng-content select=".body"></ng-content>
  </div>
</body>

