<app-sidebar>
  <ng-container class="body">
    <app-alert></app-alert>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Equipos Médicos</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Home</a>
          </li>
          <li class="breadcrumb-item active">
            <strong><a href=""> Equipos Médicos </a></strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox ">
            <div class="ibox-content">
              <div class="row border-bottom">
                <div class="col-sm-5 m-b-xs">
                  <a *ngIf="checkRole()" routerLink="add" href="" class="btn btn-primary">Agregar</a>
                </div>
                <div class="align-items-end col-sm-4">
                  <label class="col-sm-12 col-form-label">
                    <input class="form-control" type ="search" placeholder="Búsqueda..." [(ngModel)]="search" (input)="searchTyped()">
                  </label>
                </div>
              </div>
              <div *ngIf="isLoading === true" class=" row align-items-center">
                <div class="spiner-example">
                  <div class="sk-spinner sk-spinner-rotating-plane"></div>
                </div>
              </div>
              <p *ngIf="isLoading === false && (!currentPageDevice || currentPageDevice.length == 0)"
                 style="margin-top: 2.5%">No hay datos disponibles.</p>
              <div *ngIf="isLoading === false && currentPageDevice && currentPageDevice.length != 0" class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Código Serial</th>
                    <th>Alimentación</th>
                    <th>Fecha de Ingreso</th>
                    <th>Fecha de Garantía</th>
                    <th>Año de Fabricación</th>
                    <th>Fabricante</th>
                    <th>Marca</th>
                    <th>Ubicación</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let device of currentPageDevice">
                    <td>{{ device.generalDevice }}</td>
                    <td>{{ device.serial_code }}</td>
                    <td>{{ device.power_supply }}</td>
                    <td>{{ device.date }}</td>
                    <td>{{ device.warranty_date }}</td>
                    <td>{{ device.production_year }}</td>
                    <td>{{ device.maker }}</td>
                    <td>{{ device.brand }}</td>
                    <td>{{ device.location }}</td>
                    <td>
                      <button (click)="showRecords(device.Record)"
                              class="btn-white btn btn-xs">
                        Registros
                      </button>
                      <button *ngIf="checkRole()" (click)="updateLocation(device)"
                              class="btn-white btn btn-xs">
                        Ubicación
                      </button>
                      <a *ngIf="checkRole()" [routerLink]="['/devices/edit', device.id]"
                         class="btn btn-sm btn-outline-warning">
                        <span class="fa fa-pencil"></span>
                      </a>
                      <a *ngIf="checkRole()" (click)="onDelete(device.id)"
                         class="btn btn-sm btn-outline-warning">
                        <span class="fa fa-trash"></span>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="pagination float-right">
                  <mat-paginator [pageSize]="1" [length]="paginatedDevices.length" hidePageSize="true" showFirstLastButtons="true" (page)="onPageChanged($event)"></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-sidebar>
